{
 "cacheName": "{{ cc.cacheName }}",
 "clusterName": "{{ cc.clusterName }}",
 "enabled": {{ cc.enabled }},
 "globalCachingEnabled": {{ cc.globalCachingEnabled }},
 "globalCachingHeartbeat": {{ cc.globalCachingHeartbeat }},
 "globalCachingTopicLifetime": {{ cc.globalCachingTopicLifetime }},
 "maxMemory": {{ cc.maxMemory }},
 "maxMsgsPerTopic": {{ cc.maxMsgsPerTopic }},
 "maxRequestQueueDepth": {{ cc.maxRequestQueueDepth }},
 "maxTopicCount": {{ cc.maxTopicCount }},
 "msgLifetime": {{ cc.msgLifetime }},
 "newTopicAdvertisementEnabled": {{ cc.newTopicAdvertisementEnabled }}
}
