{
 "cacheName": "{{ dc.cacheName }}",
 "enabled": {{ dc.enabled }},
 "heartbeat": {{ dc.heartbeat }},
 "scheduledDeleteMsgDayList": "{{ dc.scheduledDeleteMsgDayList }}",
 "scheduledDeleteMsgTimeList": "{{ dc.scheduledDeleteMsgTimeList }}"
}
